<div class="jumbotron">

    <link rel="stylesheet" href="_css/form.css">
    <h1>Bem vindos à {{vm.name}}</h1>


    <!-->
    Barra de busca
    <-->

    <form>
        <input type="text" placeholder="Digite aqui">
        <button type="submit">Buscar</button>
    </form>

    <!-->
    Cadastro
    <-->

    <br>
    <h3>Cadastre o estado!</h3>

    <form class="form-group" action="Backend/src/main/java/com/stefanini/projeto/controller/ParentController/parent" method="post">
        <div>
            <label for="nome">Estado:</label>
            <input type="text" id="estado_nome" placeholder="Nome" maxlength="20">
            <button type="submit">Cadastrar</button>
        </div>
    </form>

    <div class="row">

    <br><br>
    <h3>Veja aqui as praias!</h3>
    <br>

    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Estado</th>
            <th scope="col">Praia</th>
        </tr>
        </thead>
        <tbody ng-repeat='parent in vm.parents'>
            <tr ng-repeat='praia in parent.praias'>
                <td><b>{{$index+1}}</b></td>
                <td>{{parent.nome}}</td>
                <td>{{praia.nome}}</td>
        </tr>
        </tbody>
    </table>

    </div>

    <button type="button" name="button"> Editar</button>

</html>

</div>
