<div class="jumbotron">

    <link rel="stylesheet" href="_css/form.css">
    <h1>Hello! Welcome to {{vm.name}}</h1>

    Cadastre o estado!
    <br><br>

    <form class="form-group" action="index.html" method="post">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome">
        </div>
        <div class="button">
            <button type="submit"> Enviar </button>
        </div>
    </form>

    <div class="row">

    Veja aqui as praias!
    <br><br>

    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Estado</th>
            <th scope="col">Praia</th>
        </tr>
        </thead>
        <tbody ng-repeat='parent in vm.parents'>
            <tr ng-repeat='praia in parent.praias'>
                <td><b>{{$index+1}}</b></td>
                <td>{{parent.nome}}</td>
                <td>{{praia.nome}}</td>
        </tr>
        </tbody>
    </table>

    </div>

</html>

</div>
