<div class="jumbotron">
  <h1>Hello! Wellcome to {{vm.name}}</h1>

  <div class="row">

    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Bahia</th>
          <th scope="col">Praia</th>
        </tr>
      </thead>
      <tbody ng-repeat='bahia in vm.bahias'>
          <tr ng-repeat='praia in bahia.praias'>
            <td><b>{{$index+1}}</b></td>
            <td>{{bahia.nome}}</td>
            <td>{{praia.nome}}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
