<div class="jumbotron">
    <link rel="stylesheet" href="_css/form.css">
    <h1>Cadastre sua lista aqui!</h1>
    <hr class="my-4">

    <br>
    <form class="form-inline" onSubmit="window.location.reload();">
        <div>
            <input type="text" class="form-control mr-sm-2" ng-model="vm.estado.nome" id="estado_nome" placeholder="Estado" maxlength="20" size="30">
            <button class="btn btn-info" ng-click="vm.salvar()" onclick="location.href='http://localhost:9001/#!/parent';"> Cadastrar </button>
        </div>
    </form>

    <br>

    <form class="form-inline">
        <div>
            <input type="text" class="form-control mr-sm-2" id="praia_nome" placeholder="Praia" maxlength="20" size="30">
            <button class="btn btn-info"> Cadastrar </button>
        </div>
    </form>

    </div>
</div>
